*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */

body{ font-family: 'Noto Sans SC', sans-serif;}

.container{
    width: 70%;
    margin: auto;
}
.clearfix::after{
    display: table;
    content:"";
    clear: both;
}

section{
    position: relative;
    height: 80vh;
}

.btn{
    padding: 8px 20px;
    border-radius: 20px;
    border: none;
    font-weight: 600;
    text-decoration: none;
}



h2{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 15px;
}

.onda{ 
    height: 100px;
    position: relative;
}

.wave{ 
    display: block;
    width: 100%;
    position: absolute;
    top: 30px;
}

.rotate{ transform: rotate(180deg);}

/* header */
header{
    position: relative;
    width: 100%;
    height: 70px;
}


.logo-img,
.button-white,
nav ul li{ display: inline-block;}

.logo-img{
    float: left;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.button-white{
    float: right;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    color: black;
    background-color: white;
}

nav{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navbar li{ margin: 0 15px;}

.navbar li a{
    color: white;
    text-decoration: none;
}

.navbar li a:hover{color: black;}

/* section-hero */

.hero{
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

.hero-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 650px;
    text-align: center;
    color: white;
}

h1{
    font-size: 40px;
    margin-bottom: 30px;
}

.hero-parag{ margin-bottom: 30px;}

.button-mac{
    color: black;
    background-color: white;
}

.apri-discord{
    margin-left: 20px;
    color: white;
    background-color: black;
}

/* section study */

.text-desk,
.img-desk{
    display: inline-block;
    width: 50%;
    float: left;
    padding-top: 100px;
}

.text-desk{
    padding: 120px;
    vertical-align: middle;
}

/* section just */

.just{ background-color: #f6f6f6;}

/* coach */

.coach{background-color: white;}

/* section tecnologia */

.big-contact{ 
    background-color: #f6f6f6;
    min-height: 950px;
}


.text-contact{
    text-align: center;
    padding: 100px 100px 10px 100px;
}  

.violet{
    color: white;
    background-color: #8ea1e1;
}

.start {
    background-image: url(../img/stars.svg);
    background-repeat: no-repeat;
    background-size: contain;
    text-align: center;
    width: 50%;
    height: 60px;
    margin: auto;
    vertical-align: middle;
    line-height: 60px;
}

.violet-mac{
    margin-top: 20px;
    padding-bottom: 100px;
    width: 100%;
    text-align: center;
}

/* footer */
footer{ 
    background-color: #23272a;
    color: white;
}

.box-footer{ width: 100%;}

.posto,
.prodotto,
.campagnia,
.risorse,
.norme{
    width: 20%;
    display: inline-block;
    float: left;
}

.space-footer{ 
    padding-top: 60px;
}

.lingua img{
    vertical-align: middle;
    width: 25px;
}

.lingua ul{ 
    vertical-align: middle;
}

.lingua img,
.lingua ul{ 
    display: inline-block;
    margin-bottom: 20px;
}

.icon-social i{
    font-size: 20px;
    margin-right: 20px;
}

.box-footer h2,
.box-footer p{ 
    color:#7289da;
    margin-bottom: 20px;
}

.box-footer li{ 
    list-style-type: none;
}

.prodotto li,
.campagnia li,
.risorse li,
.norme li{ margin-bottom: 10px;}

.prodotto li:hover,
.campagnia li:hover,
.risorse li:hover,
.norme li:hover{ text-decoration: underline;}

.prodotto,
.campagnia,
.risorse,
.norme{ padding-left: 50px;}

/* footer-down */

.footer-down{
    width: 100%;
    height: 80px;
    padding-bottom: 30px;
    border-top: 1px solid #7289da;
}

.registred{ 
    color: white;
    background-color:#7289da;
}

.footer-down-img,
.footer-down-button{ 
    display: inline-block;
    vertical-align: middle;
    line-height: 80px;
}

.footer-down-button{float: right;}

.footer-down-img img{ width: 150px;}





















