*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* common */

body{
    font-family: 'Noto Sans SC', sans-serif;
}

.container{
    width: 70%;
    margin: auto;

}
.clearfix{
    display: table;
    content:"";
    clear: both;
}

section{
    position: relative;
    height: 80vh;
}

.button-white{
    color: black;
    padding: 10px;
    background-color: white;
    border-radius: 20px;
    border: none;
    font-weight: 600;
}

/* header */
header{
    position: relative;
    width: 100%;
    height: 70px;
}


.logo-img,
.button-white,
nav ul li{
    display: inline-block;
    }

.logo-img{
    float: left;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
}

.button-white{
    float: right;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
}

nav{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.navbar li{ margin: 0 15px;}

.navbar li a{
    color: white;
    text-decoration: none;
}

/* section-hero */

.hero{
    background-image: url(../img/jumbo.png);
    background-size: cover;
}

.hero-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 650px;
    text-align: center;
    color: white;
}

h1{
    font-size: 40px;
    margin-bottom: 30px;
}

.hero-parag{
    margin-bottom: 30px;
}

.button-mac{
    color: black;
    padding: 10px;
    background-color: white;
    border-radius: 20px;
    border: none;
    font-weight: 600;
}

.apri-discord{
    margin-left: 20px;
    color: white;
    padding: 10px;
    background-color: black;
    border-radius: 20px;
    border: none;
    font-weight: 600;
}

/* section study */
h2{
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 15px;
}
.text-desk,
.img-desk{
    display: inline-block;
    width: 50%;
    float: left;
    padding-top: 100px;
}

.text-desk{
    padding: 120px;
    vertical-align: middle;
}
















